# Global Owner
* @yanbutan

# Order is important; the last matching pattern takes the most precedence.
# Only code owners and not global owner will be requested.
/products-details/apex.json @GovTechSG/developer-gov-sg

/products-details/async-data-exchange.json @lohkianchai @sabrina-ng @venkanavaneetham

/products-details/cft.json @BrianLiuJS @faithang @WallaceTan @thirukkumaran @orionmiz1985 @ramya0311

/products-details/container-stack.json @ernestboey @darryl-sw @alexchng @tohjustin @natashascribes @SenthilKumarSivakami

/products-details/corppass.json @Ducksss

/products-details/doc-portal.json @GovTechSG/developer-gov-sg

/products-details/gcc.json @hanyuwang1993 @pomelo2010

/products-details/percy.json @percy-sg

/products-details/sgds.json @darenng @rav3

/products-details/ship-hats.json @hanyuwang1993 @pomelo2010 @chunteck

/products-details/singpass.json @GovTechSG/developer-gov-sg

/products-details/tech-biz.json @yang-lijia @hanstf @lamshiling

/products-details/techpass.json @GovTechSG/developer-gov-sg

/products-details/wogaa.json @wogaa @wafendy

/products-details/stackops.json @nivianlee

/products-details/cloudscape.json @chunqi